@import url('https://fonts.googleapis.com/css2?family=Fuggles&family=Mooli&family=Ubuntu:wght@500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*body{
    font-family: 'Ubuntu', sans-serif;
    background-color: #2D368B;

  }*/


*{
  color: white;
}



body{
  background-image: url("background-img-1.png");
  background-size: contain;
  
}


.h-primary{
    font-size: 35px;
    text-align: center;
    margin-top: 2rem;
    letter-spacing: 2px;
}
.h-secondary{
text-align: center;
font-weight: lighter;
line-height: normal;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:18px;
    position: sticky;
    width: 100%;
    z-index:90;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.left{
    display: flex;
    /* border: 3px solid red; */
    align-items: center;
    flex:1;
    justify-content: space-evenly;
}

.menu ul{
    display: flex;
    gap: 1rem;
    list-style: none;
}

li a{
    text-decoration: none;
    color: black;
    position: relative;
    font-size: 16px;
}

li a::after{
    position: absolute;
    left: 0;
    top:100%;
    content: "";
    height: 2px;
    width:0px;
    background-color: #4C3575;  
    transition: all 0.4s ease-in-out;
}

li a:hover::after{
    width:100%;
}

.social-icons{
    /* border:3px solid green; */
    flex-grow:0.5;
    display: flex;
    gap:0.4rem;
    justify-content: center;
}

.social-icons img{
    height: 20px;
    cursor: pointer;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border: 1px solid black;
    border-radius: 50%;
    background-size: contain;

}

/* .icon:hover{
    border:1px solid white;
    background-color: black;

}

.icon:hover img{
    filter: invert(1);
} */


.icon::before {
    position: absolute;
    content: "";
    background-color: #4C3575;
    height: 32px;
    width: 32px;
    opacity: 0;
    transform: scale(0);
    transition: all 0.3s ease;
    border-radius: 50%;
}

.icon:hover::before {
    opacity: 1;
    transform: scale(1);
}

.icon:hover img{
    filter: invert(1);
}




/* Main Section CSS Here */

.main{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    height: 100vh;
    gap:3rem;
    margin: 0rem 2rem;
    /* border: 3px solid red; */
}


.main img{
    height:260px;
    width: 260px;
    border-radius:50%; 
}

.main h2{
    margin:0.5rem 0rem;
    font-size: 52px;
    font-weight: 800;
}


.main p{
    font-size:16px;
    margin-bottom: 0.5rem;
    line-height: 1.3rem;

}

.main-right{
    display: flex;
    flex-direction: column;
    width: 45%;
}

.highlight{
    margin-top: 0.5rem;
    font-size: 16px;
   font-weight: 600;
}

.main-contact{
    display: flex;
    margin-top: 1rem;
    background-color: #4C3575;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
    width:30%;
}

.main-contact button{
    background-color: transparent;
    color: white;
    outline: none;
    border: none;
}

.main-contact img{
    height: 20px;
    width: 20px;
}




/* Skills Section */




#skills{
    padding: 3rem;
  }
  
  .skills_container{
    /* border: 3px solid; */
    /* padding: 2rem 0rem; */
    margin: 2rem;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  
  .skills_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    padding: 0.5rem 0rem;
  }
  
  .flex{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
  }
  
  .m-2{
    margin: 0rem 0.5rem;
  }
  
  .w-10{
    max-width: 10% !important;
  }
  
  .l-10{
    line-height:3.4rem;
  }
  
  
  .skills_icon{
    font-size: 1.4rem;
  }
  .uil-angle-down{
    text-align:right;
    font-size: 1.6rem;
    width: fit-content;
    margin-left: 2rem;
    transition: 0.2s all ease-in-out;
  
  }
  .skills_header{
    /* border: 3px solid rgb(10, 147, 106); */
    display: grid;
    grid-template-columns: repeat(3,auto);
    align-items: center;
    padding: 1rem;
    cursor: pointer;
  
  }
  .skills_list{
    /* border: 3px solid rgb(191, 255, 0); */
    padding: 1rem;
  
  }
  
  .skills_data{
    margin: 1.5rem 0rem;
  }
  
  .skills_title{
    /* border: 3px solid blue; */
    display: grid;
    grid-template-columns: repeat(2,auto);
    align-items: center;
  }
  
  .skills_number{
    /* margin-left: 3rem; */
    text-align: right;
  }
  
  .skills_bar{
    /* border: 3px solid rgb(0, 0, 0); */
    margin-top: 0.5rem;
  }
  
  .skills_percentage{
  display: block;
  height:6px;
  background-color: #4C3575;
  }
  
  .skills_hide{
    display: none;
  }
  .skills_show{
    display: block;
  }
  
  .skills_animation_down{
    transition: 0.2s all ease-in-out;
  transform: rotate(180deg);
  }
  
  .skills_transition{
    transition: 0.2s all ease-in-out;
  }




/*  Project Section Here */


#portfolio{
    padding: 3rem;
  }
  .projectContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(340px, auto));
    grid-gap: 2rem;
    padding: 2rem 0rem;
  }
  
 .projectCard{
     display: flex;
     gap: 1rem;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     cursor: pointer;
     padding: 1rem;
     position: relative;
     transition: 1s all ease-in-out;
     border-radius: 12px;

  } 

  .img-resp{
    height: auto;
    max-width: 100%;
  }


  .projectCard img{
    opacity: 1;
    transition: .5s ease;
  }

  .btn{
    border: none;
    padding: 0.8rem;
    background-color:#61399d;
    color: white;
    border-radius: 15px;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    text-decoration: none;
  }

  
  .projectCard::before{
      position: absolute;
      content: "";
      height: 0%;
      width: 100%;
      z-index: 2;
      background-color:#36205d;
      border-radius: 12px;
      transition: 0.4s all ease-in-out;
  }
   .projectCard:hover::before{
        opacity: 0.4;
        height:  100%;
      }
  
  .projectBtn{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    transition: 0.4s all ease-in-out;
    z-index: -1;
     visibility: hidden;
  }
  
   .projectBtn .btn{
    padding: 0.5rem;
    margin: 0rem 1rem;
    opacity: 1;
    border-radius: 5px; 
  }
  
    .projectCard:hover .projectBtn{
      bottom: 50%;
      transform: translateY(0%);
      opacity: 1;
      z-index: 80;
      visibility: visible;
    }  


  /* Contact Section */


  .contactOptions{
      padding-top: 3rem;
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(660px,auto));
  }

  .contactContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* gap: 5rem; */
  }


  .card-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
  }


  .icon-contact{
    height: 48px;
    width: 48px;
  }

  .contact-card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
  }

  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1.8rem;
    width: 70%;
  }



  .form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }


  .input{
    font-size: 18px;
    margin:1rem;
    padding: 1.3rem;
    border-radius: 5px;
    border: none;
    background-color: #eee4ff;
    color: black;
    width: 100%;
  }

  .input-container{
    display: flex;
    gap: 1rem;
  }



  .input::placeholder{
    color: black;
  }
  

  .msg-btn{
    padding: 1rem;
    font-size: 18px;
  }
